@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

body{
  background: rgb(86,0,210);
  background: linear-gradient(90deg, rgba(86,0,210,1) 13%, rgba(45,7,107,1) 37%, rgba(2,156,218,1) 68%, rgba(53,0,255,1) 90%); 
  color: white;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 35px;
  padding-bottom: 25px;
  animation: fade-and-come-down 1.25s forwards;
}

h1 {
  color: black;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right bottom, rgb(0, 20, 200), rgb(255, 100, 255));
}

.header--home {
  overflow: hidden;
}

.header--home img, .header--home h1 {
  width: 17.5%;
  margin-left: 0;
  transform: translateX(0);
  background-blend-mode: multiply;
  filter: opacity(100%);
}

.header--home h1, .header--home p {
  color: rgba(255, 255, 255, 1.00);
  text-align: center;
}

.header--home h1 {
  font-size: 32px;
}

.header--home p {
  font-size: 20px;
}

@keyframes fade-and-come-down {
  from{
    transform: translateY(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

/*
.header h1 { 
  font-size: 60px; 
  padding: 15px;
  text-align: center;
  color: #000;
  animation: fade-and-come-down 1.25s forwards;
} 
*/

 .navbar {
    overflow: hidden;
    background: linear-gradient(to bottom, #2c539e 13%,#2c539e 40%,#2c539e 55%,#2c539e 83%);
    font-family: Arial;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(80, 51, 167);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 

.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 38px;
}

#respond {
  margin-top: 40px;
}

.head1 {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.head1 img {
  margin-left: 0%;
  transform: translateX(0%);
  width: 100%;
}

.head2 {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.head2 img {
  width: 100%;
  transform: translateX(0);
  margin-left: 0;
}

.head3 {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.head3 img {
  width: 100%;
  margin-left: 0;
  transform: translateX(0);
}

.head4 {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.head4 img {
  width: 100%;
  margin-left: 0;
  transform: translateX(0);
}

.head5 {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.head5 img {
  margin-left: 0;
  transform: translateX(0);
  width: 100%;
}

.head6 {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.head6 img {
  width: 100%;
  margin-left: 0;
  transform: translateX(0);
}

.guide, .guide h1 {
  color: rgb(255, 255, 255);
}

.gallery {
  margin: 44px;
  float: left;
  width: 350px;
  height: 375px;
  background: #0b0a0d;
  background: rgba(11, 10, 13, 0.25);
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.discordframe {
  padding-top:50px;
  float:center;
}

.about1 {
  color: white;
  padding-top: 50px;
}

.creators {
  padding-top: 50px;
}